<p id="notice" class="notice"><%= notice %></p>

<h1 class="bg_color_white edit_page-title h1--adjust_margin_and_padding col-lg-8 col-lg-offset-2">Orders</h1>

<table class="table table--width_less table--no_margin_bottom bg_color_white col-lg-offset-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary", role: "button" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>

<div class="col-lg-8 col-lg-offset-2 bg_color_white edit_page-submit_btn_wrapper">
	<%= link_to 'New order', new_order_path, class: "edit_page-submit_btn btn btn-default", disabled: "disabled" %>
</div>
