<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Pragmatic Store</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse navbar_link_list">
			<ul class="nav navbar-nav">
				<li class="navbar-link"><a href="/"><%= t('application.home')%></a></li>
				<li class="navbar-link"><a href="#about"><%= t('application.about')%></a></li>
				<li class="navbar-link"><a href="#contact"><%= t('application.contact')%></a></li>
			</ul>
		</div>
		<div class="collapse navbar-collapse">
			<div class="navbar-user_info navbar-right">
				<% if session[:user_id].nil? %>
					<%= link_to 'Login', login_path, class: "navbar-login btn btn-primary" %>
				<% else %>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<%= current_user.name %> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
							<li>
								<%= link_to 'Logout', logout_path, method: :delete %>
							</li>
					  </ul>
					</div>
				<% end %>
			</div>

			<%= form_tag store_index_path, class: "locale" do %>
				<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), class: " form-control", onchange: 'this.form.submit()' %>
			<% end %>
		</div>
	</div>
</nav>

