<%= bootstrap_form_for(product) do |f| %>
	<%= f.error_messages %>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
		</div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
		<% if product.image_url_url %>
    <%= image_tag product.image_url_url %>
		<% end %>
    <%= f.file_field :image_url, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit '提交', class: "btn btn-default" %>
  </div>
<% end %>
