<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>
<div class="container-fluid">
	<div class="row">
		<div class="book_cart_and_sort col-lg-2 col-md-2 col-sm-2 col-lg-offset-2">
			<div class="book_cart">
			<h2 class="column_title book_cart-title"><%= t("store.index.cart_title") %></h2>
				<div class="book_cart-list_wrapper">
					<%= render "line_items" %>
				</div>
			</div>

			<div class="book_category">
				<h2 class="column_title book_category-title"><%= t("store.index.sort_title") %></h2>
			</div>
		</div>

		<div class="book_list col-sm-6 col-md-6 col-lg-6">
			<h2 class="column_title book_list-title"><%= t("store.index.list_title") %></h2>

				<% @products.each do |product| %>
				<div class="book_list-ele">
					<div class="book_list-product_image"><%= image_tag product.image_url_url %> </div>
					<div class="book_list-product_info">
						<p class="book_list-product_title"><%= product.title %></p>
						<p class="book_list-product_des"><%= product.description %></p>
					</div>
				</div>

				<div class="book_list-price_line">
					<span class="book_list-product_price"><%= number_to_currency product.price %></span>
					<%= button_to t(".addtocart"), line_items_path(product_id: product), class: "btn btn-success book_list-add_to_cart", remote: true %>
				</div>
				<% end %>

				<%= paginate @products %>
		</div>

	</div>
</div>
