<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>
<div class="container-fluid">
	<div class="row">
		<div class="book_cart_and_sort col-lg-2 col-md-2 col-sm-2 col-lg-offset-2">
			<div class="book_cart">
				<h2 class="column_title book_cart-title"><%= t("store.index.cart_title") %></h2>
				<div class="book_cart-list_wrapper">
					<%= render "line_items" %>
				</div>
			</div>

			<div class="book_category">
				<h2 class="column_title book_category-title"><%= t("store.index.sort_title") %></h2>
				<ul class="book_category-list">
					<% if @categories.empty? %>
						<li class="book_category-ele">There is no classification!</li>
					<% else %>
						<% @categories.each do |category| %>
							<li class="book_category-ele" data-category-id="<%= category.id %>"><%= link_to "#{category.name}", store_category_path(category_id: category.id), class: "book_category-ele_link", remote: true, method: :post %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="book_list col-sm-6 col-md-6 col-lg-6">
			<h2 class="column_title book_list-title"><%= t("store.index.list_title") %></h2>

			<div class="book_list-wrapper">
				<%= render "products" %>
			</div>
			<%= paginate @products %>
		</div>

	</div>
</div>
